---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "../components/FormattedDate.astro";
import Flex from "../components/utility/Flex.astro";
import SiteLayout from "./SiteLayout.astro";
import KeyTakeaways from "../components/KeyTakeaways.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage, takeaways } =
  Astro.props;
---

<style>
  .hello {
    height: var(--space-s);
    margin: var(--space-s) auto;
  }
</style>

<SiteLayout>
  <article class="u-grid">
    <div class="hero-image">
      {
        heroImage && (
          <img
            transition:name="hero"
            width={1020}
            height={510}
            src={heroImage}
            alt=""
          />
        )
      }
    </div>

    <div class="title">
      <h1 class="h2">{title}</h1>
      <div class="meta">
        <Flex gap="m">
          <div class="date">
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
            <FormattedDate date={pubDate} />
          </div>

          <Flex gap="3xs">
            Tagged as:
            <a href="#">Web</a>
            <a href="#">Tips & tricks</a>
          </Flex>
        </Flex>
      </div>
    </div>

    {takeaways && <KeyTakeaways items={takeaways} />}
    <div class="prose u-grid">
      <slot />
    </div>
  </article>
</SiteLayout>

<style>
  .prose {
    grid-column: 1 / -1;
  }
  .title {
    grid-column: 3 / span 10;
    padding-top: var(--space-2xl);
    padding-bottom: var(--space-l);
  }
  .meta {
    font-size: var(--step--2);
  }
</style>
